@inherits LayoutComponentBase

<PageTitle>Korfin</PageTitle>

<div class="page">
    <div class="sidebar" ><div style="width:100%;background-color:lavender" >
            <NavMenu />
        </div>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About+</a>
        </div>
        <div class="top-row px-4">
            <a href="Users" target="_blank">Users</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
